/* Responsive Portfolio CSS */

header {
    width: 100%;
    height: 65px;
    border-bottom: 2px solid #cccccc;
    color: #333;
    background: #ffffff;
    font-size: 28px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    clear: both;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -10px;
}
  body{
      min-width: 100%;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  .name-logo{
      float: left;
      margin-left: 160px;
      width: 200px;
      height: 25px;
      background-color: #4aaaa5;
      color: #ffffff;
      font-size: smaller;
      padding: 20px;
  }
  a:link,a:visited{
      color:#777777;
  }
  a:hover{
      color: #4aaaa5;
  }
  .about,.portfolio,.contacts{
    float: left;
    color: #777777;
    font-size: small;
    padding: 2px 20px ;
    margin-top: 30px;
  }
  .about{
      margin-left: 450px;
  }
  .portfolio{
      border-right: .5px solid #cccccc;
      border-left: .5px solid #cccccc;
      height: 600px;
  }

  .main-body{
      background-color: #ffffff;
      margin: 40px 160px;
      width: 960px;
      height: 400px;
  }
  .title{
      font-size: 20px;
      padding: 30px 0px;
      margin: 0px 30px;
      color:#4aaaa5;
      font-family: 'Georgia', Times, Times New Roman, serif;
      border-bottom: 2px solid #cccccc;
  }
  #about-img{
      float: left;
      margin: 40px 30px;
  }
  .my-about{
      float: left;
      color:#777777;
      margin: 40px 30px;
      width: 700px;
      height: 500px;
      line-height: 1.6;  
  }
  form{
      color:#777777;
      margin-left: 40px;
  }
  .input-form{
      width: 860px;
  }
 .input-form-message{
    height: 100px;
    width: 860px;
}
#enter-button{
    color: #4aaaa5;
    margin-top: 10px;
}
.img-1{
    margin: 30px;
    float: left;
}
.img-2{
    clear: both;
    margin-left: 30px;  
    position: relative;
}
.new{
    left: 210px;
    top: -153px;
}
.img-txt{
    background-color: #4aaaa5;
    margin: 130px 30px;
    padding: 10px;
    width: 130px;
    color: #ffffff;;
    position: absolute;
    text-align: center;
    z-index: 2;
    font-family: 'Georgia', Times, Times New Roman, serif;
   
}
.txt2{
    left:398.5px;
}
.txt3{
    left: 608.5px;
}
.txt4{
    margin: inherit;
    position: absolute;
    left: 58.5px;
    bottom: 0px;
}
.txt5{
    margin: inherit;
    position: absolute;
    left: 268.5px;
    bottom: 0px;
}
footer{
    clear: both;
    background-color: #666666;
    border-top: 3px solid #4aaaa5;
    width: 100%;
    height: 65px;
    position: fixed;
   left: 0;
   bottom: 0;
    z-index: 3;
}

@media screen and (max-width: 980px){
    .name-logo{
        float: left;
        margin-left: 50px;
        width: 200px;
        height: 25px;
        background-color: #4aaaa5;
        color: #ffffff;
        font-size: smaller;
        padding: 20px;
    }
    .about,.portfolio,.contacts{
        float: left;
        color: #777777;
        font-size: small;
        padding: 2px 20px ;
        margin-top: 30px;
      }
      .about{
          margin-left: 200px;
      }
      .portfolio{
          border-right: .5px solid #cccccc;
          border-left: .5px solid #cccccc;
          height: 600px;
      }
    .main-body{
        margin: 20px 50px;
        width: 600px;
    }
    .my-about{
        float: left;
        color:#777777;
        margin: 20px 20px;
        width: 300px;
        height: 500px;
        line-height: 1.6;  
    }
    .img-1{
        margin: 30px;
        float: left;
    }
    .img-2{
        position: absolute;
        top: 415px;
        left: 285px;
    }
    .new{
        left: 210px;
        top: -153px;
    }
    .img-txt{
        background-color: #4aaaa5;
        margin: 130px 30px;
        padding: 10px;
        width: 130px;
        color: #ffffff;;
        position: absolute;
        text-align: center;
        z-index: 2;
        font-family: 'Georgia', Times, Times New Roman, serif;
       
    }
    .txt2{
        left:288.5px;
    }
    .txt3{
        margin: inherit;
        position: absolute;
        left: 58.5px;
        bottom: 20px;
    }
    .txt4{
        position: absolute;
        left: 285px;
        bottom: -90px;
    }
    .txt5{
        margin: inherit;
        position: absolute;
        left: 268.5px;
        bottom: 0px;
    }
    .input-form{
        width: 500px;
    }
    .input-form-message{
        width: 500px;
    }
    
}
@media screen and (max-width: 760px){
    .name-logo{
        float: left;
        margin-left: 10px;
        width: 200px;
        height: 25px;
        background-color: #4aaaa5;
        color: #ffffff;
        font-size: smaller;
        padding: 20px;
    }
    .about,.portfolio,.contacts{
        float: left;
        color: #777777;
        font-size: small;
        padding: 2px 20px ;
        margin-top: 30px;
      }
      .about{
          margin-left: 150px;
      }
      .portfolio{
          border-right: .5px solid #cccccc;
          border-left: .5px solid #cccccc;
          height: 600px;
      }
    .main-body{
        margin: 20px 10px;

        width: 600px;
    }
    .img-2{
        position: absolute;
        top: 415px;
        left: 245px;
        
    }
    .txt2{
        left: 248.5px;
    }
    .txt4{
        position: absolute;
        left: 245px;
        bottom: -90px;
    }
}
@media screen and (max-width: 640px){
    .name-logo{
        width: 100%;
        margin: 0px;
        height: 20px;
    }
    header{
        height: 100px;
    }
    .about,.portfolio,.contacts{
        margin-top: 10px;
    }
    .img-2{
        position: absolute;
        top: 450px;
        left: 248px;
    }
    .txt2{
        left: 248.5px;
    }
    .txt3 {
        margin: inherit;
        position: absolute;
        left: 58.5px;
        bottom: -14px;
    }
    .txt4{
        position: absolute;
        left: 248px;
        bottom: -125px;
    }
    .main-body{
        background-color: #ffffff;
        margin: 20px 10px;
        width: 570px;
        height: 550px;
    }
}
